<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/website/">HOME</a></li>
            <li><a href="/website/publication/">PUBLICATION</a></li>
            <li><a href="/website/archives/">ARCHIVE</a></li>
            <li><a href="/website/tags/">TAGS</a></li>
            <li><a href="/website/about/">ABOUT</a></li>
            <li><a href="{{ "/website/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
	    <li></li>
	    <li><a href="https://www.linkedin.com/in/mohammad-h-afzali-573b301a2/"> <i class="fa fa-inverse fa-linkedin-square "></i></a>
	    <a href="https://github.com/Kamran-Afzali"> <i class="fa fa-inverse fa-github "></i></a>
	    <a href="https://scholar.google.ca/citations?user=OQZG-vEAAAAJ&hl=en"> <i class="fa fa-inverse fa-google "></i></a>
	    <a href="https://publons.com/researcher/1179117/kamran-afzali/peer-review/"> <i class="fa fa-inverse fa-pencil "></i></a>
    	    <a href="https://twitter.com/Afzali_K"> <i class="fa fa-inverse fa-twitter "></i></a>
</li>
	    </ul>
	    
            
	    </nav>
</center>
